.categorias .gridContainer {
	margin-top: 45px;
}

.categorias .textNames {
	text-align: center;
	font-size: 14px;
}

.categorias .imgCategory {
	max-width: 350px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-bottom: 4px;
}

.categorias .containerCategorias {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px 0 5px;
	cursor: pointer;
}

.name_total_card {
	width: 91px;
	height: 39px;
	left: 37px;
	top: 335px;
	background: #D9D9D9;
	opacity: 0.21;
	border-radius: 0px 0px 5px 5px;
}